<div style="margin-left: 45%; margin-top: 10%;">
  <h1 style="color: red;">Error!</h1>
  <%= image_tag ("/assets/frown.png"), style: 'width:100px; height:100px' %>
  <p>Possible causes:</p>
  <ul>
    <li>Invalid city name</li>
    <li>No internet connection</li>
  </ul>
</div>
