.main-card {
  width: 30%;
  height: 100%;
  border: solid #000 0px;
  background: rgba(193, 193, 193, 0.3);
  border-radius: 25px;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align:center;
  display: inline-block;
}

.daily {
  width: 20%;
  border: solid #000 0px;
  border-radius: 13px;
  text-align:center;
  float: right;
  // background: rgba(f,f,f,.3);
  margin-right: 0%;
  display: inline-block;
}
